<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13247809411-m4d8qgnqt1pj1q1cdu06mufvhmfmqphh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13247809411-m4d8qgnqt1pj1q1cdu06mufvhmfmqphh</string>
	<key>API_KEY</key>
	<string>AIzaSyB4kAVCiyiROjHhLGfDtfI21JDKdwW8EwE</string>
	<key>GCM_SENDER_ID</key>
	<string>13247809411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>submission-ditonton</string>
	<key>STORAGE_BUCKET</key>
	<string>submission-ditonton.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13247809411:ios:936321db8c867caba718b6</string>
</dict>
</plist>